// Services section
.services {
  padding: 0px 32px 60px 32px;
  h2 {
    margin-top: 80px;
  }
  .row {
    margin-top: 52px;
    p {
      font-weight: 700;
    }
  }
  a {
    display: block;
    margin: 0 auto;
    margin-top: 54px;
    width: 345px;
    height: 55px;
    line-height: 55px;
    border: 3px solid $navy-blue;
    color: $navy-blue;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
  }
  .image-container {
    height: 140px;
    img {
      //width: 100%;
      max-width: 120px;
    }
  }
}

@media (max-width: 1023px) {
  .services {
    .image-container {
      margin-top: 60px;
    }
  }
}

@media (max-width: 767px) {
  .services {
    padding: 0px 20px 60px 20px;
  }
}

@media (max-width: 400px) {
  .services {
    a {
      width: 280px;
    }
  }
}
// End services section
